*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
html{
	    scroll-behavior: smooth;

}

.item>.col-md-4>img{
	
		width: 100%!important;
    height: 250px;
}

body{ 
	 font-family: 'Della Respira', serif!important;
	 color: rgb(40 44 63)!important;
} 
h5,h6{
  font-size:30px!important;
}
.header_widgets>ul{
	padding:10px!important;
}
.header_widgets>ul>li>a{
	color:black!important;
	
}
.header_widgets>ul>li>a,.myNav_item>ul>li>a{
font-size:16px!important;
}

.myNav_item>ul>li>a,.footer_item01>ul>li>a,.footer_item>ul>li>a{
	color:white!important;
}
nav,footer{
   background: rgb(67 47 110);
   padding:10px;
   color:white;
}
nav{
	position:sticky;
	z-index:9999999;
	top:0px;
}
.fa-bars{
	display:none!important;
}
a:hover{
	background:transparent!important;
	text-decoration:none!important;
}
.logo>img {
width: 340px!important;

}
.treatment_item:hover {
    transform: translateY(-4px);
transition: 0.4s;}
p{
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 20px 0px;
}
.pad-10,.header_widgets,.galllery{
	padding:10px!important;
}

.color-green{
	color: rgb(92 192 18)!important;
}
.color-blue{
	color: rgb(67 47 110)!important;
}

section{
 
    background: rgb(245 245 220);
	padding: 77px 0px 54px 0px;
}
article{
  
    padding: 130px 0px 0px 0px;
	
}

section:after{
	
    content: "";
    position: absolute;
    width: 50%;
	background:rgb(92 192 18);
    height: 83px;
    transform: skewY(9deg);
	box-shadow: 0px 57px 37px 1px #f1f1f1;

}
.layer:after{
    content: "";
    position: absolute;
    width: 50%;
    background: rgb(67 47 110);
    height: 83px;
    transform: skewY(170deg);
    box-shadow: 0px 57px 37px 1px #f1f1f1;
    right: 0px;
    margin: -60px 0px;
    
}
.my-content{
	padding: 40px 0px!important;
}
.mybtn {
    background: linear-gradient( 157deg ,rgb(24 173 3),rgb(67 47 110));
    color: rgb(255 255 255);
    padding: 10px 20px;
    border: none;
border-radius: 4px;
cursor:pointer;
}



.my_facility{
	padding: 60px 20px;
    background: rgb(255 255 255);
    box-shadow: 0px 8px 17px 10px #80808012;
    border-radius: 6px;
    margin: 20px 0px;
    cursor: pointer;
    height: 300px;

}
.my_facility:hover .facility{
	transform: rotateY(350deg);
	transition:0.8s;
}
.my_facility:hover:after{
 width: 50%;
 transition:0.4s;
}
.my_facility:after{
	content: "";
    position: absolute;
    border: 2px solid;
    height: 0px;
    width: 10%;
	border-color:rgb(24 173 3);
 
   
}
.my_department:hover{
	box-shadow: 0px 8px 17px 10px #80808012;
	transition:0.4s;
}
.my_details,.my_department{
	
	padding:70px 10px;
	position:relative;'
}
.my_department:after{
	    content: "";
    position: absolute;
    width: 96%;
    background: rgb(92 192 18 / 30%);
    height: 154px;
    transform: skewY(23deg);
    z-index: -1;
    top: 181px;

}

.my_department>ul>li>a,.my_details>ul>li>a{
  color: rgb(40 44 63)!important;
    font-size:19px!important;
}
.my_details{
	padding:30px 10px;
	border-radius:10px;
	box-shadow: 0px 8px 17px 10px #80808012;
}

.triangle-up {
   width: 0;
    height: 0;
    border-left: 19px solid rgb(0 0 0 / 0%);
    border-right: 28px solid rgb(0 0 0 / 0%);
    border-bottom: 43px solid rgb(255 255 255);
    position: absolute;
    transform: rotateZ(270deg);
    top: 107px;
    left: -29px;

}

.treatment_item{
	border-radius: 10px;
	margin:15px 0px;
	position:relative;
	background-color:white;
}
.eye{
	    background: rgb(92 192 18 / 30%);
    border-radius: 40% 0% 0% 50%;
}
.child{
	    background: rgb(92 192 18 / 30%);
       border-radius: 0% 40% 40% 0%;
}
.treatment_item:hover:after{

	width: 38%;
	height: 5px;
	width: 90%;
	border: 2px solid rgb(144 238 144);
	background: rgb(144 238 144);
	transition:0.5s;
	
}
.treatment_item:after{
    content: "";
    position: absolute;
    width: 38%;
    height: 5px;
    border: 1px solid rgb(144 238 144);
    
}
.treatment_item:hover{
	 box-shadow: 0px 8px 17px 10px #80808012;
	 transition:0.5s;
}
.treatment_item>img{
	height: 169px!important;
    width: 100%!important;
}
.my_vactor{
	animation-name: slide;
	animation-duration: 40000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
	position: absolute;
	width: 200px;
	top: 448px;
	right: 0px;
	z-index: 99999999;
}


@keyframes slide {
    from {
      transform: translateX(-1224px);
    }
    to {
       transform: translateX(0px);
    }
}
